.nav {   
    height: 60px;
    background: whitesmoke;
    
}

.nav__menu {
    list-style-type: none;
    background: whitesmoke;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin: 0;
 }

.menu__item {
    margin-left: 10px;
    font-size: 16px;
    color: dodgerblue;
    cursor: pointer;
    padding: 16px;
}

.menu__item_push_right {
    margin-right: auto;
    padding: 16px;
}


.menu__item:hover {
    background-color: rgb(85, 80, 80);
    border-radius: 10px;
    opacity: 0.8;
    color: whitesmoke
}

.icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
  }

.btn {
    border: 0px;
    background-color: whitesmoke;
    font-size: 20px;
}
