.sidebar {
    width: 150px;
    background-color: whitesmoke;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar__menu {
    list-style-type: none;
}

.menu__item {
    margin-left: 5px;
    font-size: 16px;
    color: dodgerblue;
    cursor: pointer;
    padding: 16px;
}

.menu__item:hover {
    background-color: rgb(85, 80, 80);
    border-radius: 10px;
    opacity: 0.8;
    color: whitesmoke
}

.icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
  }